*{
    box-sizing: border-box;
    margin:0;
    scroll-behavior: smooth;
}
/* ------------------ */
/* menu de navegacion */
/* ------------------ */
nav{
    height: 100vh;
    position:fixed;
    width: 15em;
    background-color: white;
    padding: 15em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    box-shadow: .25em 0 .5em rgba(0, 0, 0,0.5);
}
.navegacion{
    width:100%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    color:gray;
    margin: auto;
    font-size: x-large;
}

.navegacion:hover{
    color:white;
    background-color: rgb(70, 70, 70);
    box-shadow: 0px 0px 10px black;
    transition: all 0.5s ease;
    
}
/* ---------------------- */
/* secciones de cada tema */
/* ---------------------- */
.seccion {
    padding: 2em;
    min-height: 100vh;
    margin-left:15em;
    border-top: 5em solid white;
    border-bottom: 5em solid white;
    background-color: rgb(220, 219, 219);
}
/* ------------------------------------------------------------ */
#inicio{
    display:grid;
    grid-template: 10fr 1fr/ 1fr 1fr;
    
}
#info-inicio{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inicio img{
    width:60%;
    min-width: 320px;
    border-radius: 100%;
    box-shadow: 10px 10px 5px rgb(79, 110, 236);
    grid-column-start: 2 ;
    grid-row: 1 / 3 ;
    margin: auto;
}

#inicio section h3{
    color: gray;
    font-weight: 100; 
    text-align: center;
}
#inicio section h1{
    font-size:4em;
    text-align: center;
}

#redes-sociales i{ 
    
    background-color: rgb(68, 68, 207);
    border-radius: 100%;
    padding: 0.3em 0.45em;
    font-size: 1.5em;
    color:white; 
    margin-top: 1em; 
    margin-left: 1em ;
}
#flecha-abajo{
  grid-column-start: 1;
  grid-row-start: 2;  
  font-size: xx-large;
  color:black;
  margin-left: 2em;
  animation: saltos-infinitos 1s infinite;
}
@keyframes saltos-infinitos {
    0%,100%{
        transform: translate(0px);
    }
    50%{
        transform: translateY(-30px);
    }
     
}
/* ------------------------------------------------------------ */
#acercaDeMi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}
#acercaDeMi img{
    width: 80%;
    min-width: 300px;
    margin: auto;
    box-shadow: 30px 30px 5px rgb(79, 110, 236);
}
#acercaDeMi div{
    min-height: 25em;
    width: 80%;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}
#acercaDeMi p{
    color: rgb(78, 74, 74);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#acercaDeMi a{
    text-decoration: none;
    color: white;
    background-color: rgb(42, 57, 223);
    padding: 20px;
    border-radius: 10px;
    font-family:'Arial Narrow Bold', sans-serif;
}
#acercaDeMi a:hover{
    background-color: rgb(24, 34, 137);
    transform: scale(1.1,1.1);
    transition: all 0.5s ease ;
}
.titulo{
    text-decoration:underline solid rgb(0, 0, 196);
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ------------------------------------------------------------ */
#proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 40px;
    margin: 18px;
}
#portafolio h2{
    text-align: center;
    width: 110px;
    margin: 10px auto;
}
.proyecto-tarjeta{
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.proyecto-tarjeta h3{
    text-align: center;
    font-size: x-large; 
    height: 2em;
    font-weight:800;
    color:rgb(0, 0, 196);
}
.proyecto-tarjeta p{
    margin-top:10px;
    color:gray;
     font-size: large; 
}
.proyecto-tarjeta:hover{
    background-color: rgb(134, 143, 242);
    color:white;
    transform: scale(1.1,1.1);
    transition: all 0.5s ease;
}
.proyecto-tarjeta:hover p{
    color: white;
}
.proyecto-tarjeta:hover h3{
    color:white;
    border-bottom: 3px solid white;
}
/* ------------------------------------------------- */
#contactame h3 {
    font-size: xx-large;
    margin:1em auto;
    width:220px;
}
#contact-form {
    width:60%;
    background-color: #f0f4f8; 
    margin:auto;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 1px solid #333; 
    padding: 10px;
}
input[name="mail"],input[name="asunto"],textarea {
    margin: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #333;
}
textarea{
    resize: none;
}
label,input[type="submit"]{
    font-size: large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="submit"]{
    padding: 15px 30px;
    color:white;
    border:none;
    border-radius: 20px;
    
    background-color: #1d1a1a;
}
input[type="submit"]:hover{
    transform: scale(1.1,1.1);
    transition: all 0.2s;
    cursor: pointer;
}
input[type="submit"]:active{
    transform: translate(2px,2px);
    color:rgb(157, 153, 153);
}
@media (min-width:700px) and (max-width:1024px) {
    nav{ 
        width: 10em;
        font-size: medium;  
    }
    .navegacion{
        font-size: large;
    }
    .seccion {  
        margin-left:10em;
    }
    #inicio img{ 
        min-width: 200px; 
    }
    #inicio section h3{
        font-size:medium;
    }
    #inicio section h1{
        font-size:3em;
    }
    
    #redes-sociales i{ 
        
        font-size: 1em;
    }
    #acercaDeMi{
        padding: 1em 0;
        display: grid;
        grid-template-columns: 1fr ;
        grid-row: 1fr 1fr;
        
    }
     #acercaDeMi img{
        width: 30%;
        min-width: 200px;

     }
    #acercaDeMi div{
        grid-column: 2 10;
    } 
    .proyecto-tarjeta h3{
        font-size: large;
    }
    .proyecto-tarjeta p{
        font-size: medium;
        
    }
    #proyectos{
        grid-template-columns: 1fr 1fr 1fr;
    }    
    
}
@media (max-width:700px) {
    .seccion{
        margin-left:0;
    }
    nav{
        
        width: 100%;
        height: 3em;
        padding: 0;
        flex-direction: row;
        
        
    }
    .navegacion{
        width: auto;
        padding: auto;
        margin:0;
        
        
        font-size: medium;
    }
    #inicio{
        display:grid;
        grid-template: 1fr 1.5fr / 1fr ;
        
    }
    #inicio img{
        width:40%;
        min-width: 10em;
        grid-column: 1;
        grid-row: 1;
        margin: auto;
    }
    #info-inicio{
        grid-row:2;
        justify-content: space-around;
        margin-bottom: 8em;
    }
    #inicio a[href="#acercaDeMi"] {
        display: none;
    }
    #inicio section h3{

        font-size: medium;
    }
    #inicio section h1{
        font-size:2em;
        text-align: center;
    }
    #acercaDeMi{
        display: grid;
        grid-template: 1fr 1.5fr/ 1fr;
        grid-column-gap: 100px;
    }
    #acercaDeMi img{
        
        width: 50%;
        min-width: 250px;
        box-shadow: 20px 20px 5px rgb(79, 110, 236);
    }
    #acercaDeMi p{
        margin: 1em 0;
    }
    #proyectos{
        grid-template-columns: 1fr 1fr;
    }
    .proyecto-tarjeta h3{
        font-size: large;
    }
    .proyecto-tarjeta p{
        font-size: medium;
        
    } 
    input[name="mail"],input[name="asunto"],textarea {
        margin: 10px;
        padding: 10px;
        width: 80%;
    }  
}







